---
layout: layouts/base.njk
bodyClass: event-view
---

<article class="event-page">
  <p class="event-page__back">
    <a href="/">Back to all events</a>
  </p>

  <div class="event-page__hero">
    {% eventImage page.fileSlug, "hero" %} 
  </div>
  
  <div class="event-page__summary">
  {% if type %}
    <p class="event-page__category">
      <span class="sr-only">Event type: </span>
      {{ type }}
    </p>
  {% endif %}

  <h1>{{ title }}</h1>

  <dl class="event-page__details">
    <div>
      <dt>Date</dt>
      <dd>
        <time datetime="{{ date | dateToISO }}">
          {{ date | readableDate }}
        </time>
      </dd>
    </div>

    {% if location %}
      <div>
        <dt>Location</dt>
        <dd>{{ location }}</dd>
      </div>
    {% endif %}
  </dl>
</div>

  <div class="event-page__notes">
    {{ content | safe }}
  </div>
</article>