---
layout: layouts/base.njk
title: Your memories
---

<h1 class="sr-only">Welcome to Coops Adventure Club</h1>

{# <div class="ticket-list">
  {% for event in collections.eventsByDate %}
    {% include "components/ticket2.njk" %}
  {% endfor %}
</div> #}


{% for group in collections.eventsByDate %}
  <details class="wdc-details" open>
    <summary>
      <h2 class="event-year">{{ group.year }}</h2>
    </summary>

    <div class="article-container">
      {% for event in group.events %}
        {% include "components/ticket2.njk" %}
      {% endfor %}
    </div>
  </details>

{% endfor %}