---
layout: layouts/base.njk
title: Your memories
---

<header class="page-header">
  <h1>Coops Adventure Club</h1>
</header>

{# <div class="ticket-list">
  {% for event in collections.eventsByDate %}
    {% include "components/ticket2.njk" %}
  {% endfor %}
</div> #}


{% for group in collections.eventsByDate %}

  <h2>{{ group.year }}</h2>

  <div class="article-container">
    {% for event in group.events %}
      {% include "components/ticket2.njk" %}
    {% endfor %}
  </div>

{% endfor %}